<h3><em>What about us?</em></h3>
<p>
    Here at Duluth High we believe in letting our past graduates explain a little about our schools.
    So here are a few scholars who kindly offered to share their experiences with you!!
</p>

<h3><u>Jared Fogel</u></h3>

<div class="row">
    <img src="http://i1016.photobucket.com/albums/af289/Aerovette1/11892086_1055349127809231_5354336418583857317_n_zpsfmlybgek.jpg" width="504" height="404" />
    <div class="col-sm-6">
        <p>
            Well hello there...I didn't see you come in. Would you like something to eat? <br />
            No? <br />
            Ahh yes that handsome young man in that beautiful display of professional photagraphy is me. <br />
            Now you probably have many questions...and I will answer none of them. <br />
            <h5><strong>BUT</strong></h5> Duluth High helped me reach my peak performance. <br />
            You see I enrolled in their Youth Care and Development course, and realized something about myself... <br />
            I love the concept of taking care of childrens needs! <br />
            So they helped me become a motivational speaker for <em>underage</em> children suffering from obesity <br />
            That girl in the photo is <strong>NOT</strong> running in fear from me! <br />
            That most definitly <strong>IS</strong> a bean baked <strong>BURRITO</strong> <br />
            And it is not the 6 inch she ordered because beans give her gas, so shes running back <br />
            to Subway to get a <em>FRESH</em> one... <br />
            So sign up for this school so they can teach you not to be such a judgmental dick....
        </p>
    </div>
</div>

<h3><u>Donald Trump</u></h3>

<div class="row">
    <img src="http://static4.businessinsider.com/image/56c640526e97c625048b822a-480/donald-trump.jpg" width="574" height="704" />
    <div class="col-sm-5">
        <p>
            Just look at that face, that is the face of a man who knows how to win. <br />
            Hello my fellow Americans my school of choice without a doubt is Duluth High <br />
            The education was absolutly terrific, the teachers they couldnt be nicer <br />
            But with every <em>golden</em> palace there are the flaws... for instance <br />
            During my lunch time I couldn't help but notice the amount of "<em>Bad Hombres</em>" <br />
            But one day in the middle of class I saw this...<br />
            <img src="https://pbs.twimg.com/media/BrVyD4tCcAEFbzD.png" width="226" height="226" /> <br />
            And if you look hard enough you can see what I saw all those years ago... <br />
            <img src="https://i.ytimg.com/vi/_kMNpQj9fcg/hqdefault.jpg" width="226" height="226" /> <br />
            Absolutly beautiful, at that moment I knew this was gonna be <strong>Huuuuge</strong> <br />
            Another flaw was the boys locker room, it was small, it was disproportionate to the rest of the school <br />
            And the showers, as nice as they were, I would have prefered them to be golden. Thats just my prefrence...<br />
        </p>
    </div>
</div>

<h3><u>Everyone's Grandfather</u></h3>

<div class="row">
    <img src="http://vignette3.wikia.nocookie.net/supermarioglitchy4/images/4/4a/Morgan-Freeman.jpg/revision/latest?cb=20150911113105" width="444" height="444" />
    <div class="col-sm-5">
        <p>
            During my time at this school I overcame great adversity and learned that this school is absolutly <br />
            not where you want to be. After 3 weeks of attendance, I was mocked, segregated, and called a failure <br />
            many times. But they helped me persevere to become the greatest actor in all of recorded history <br />
            Ive played presidents, relatable characters, and even God. So trust me when I say that if you desire <br />
            to overcome overwhelming opposition, then join this school. However, if you are not up to the challenge <br />
            I would simply advise that you re-evaluate your decision. But whether you choose to join or not is not <br />
            the problem. The problem is your willingness to persue your dream and move forward. But then again...<br />
            What could I possibly know...I'm just the sticky picture under your pillow that your spouse is about to find.<br />
        </p>
    </div>
</div>

<p>
    I don't think anything else needs to be said here, I'm confident you will make the right choice and enroll<br />
    that wonderful little mistake of yours!

</p>