<h2>Welcome to Duluth HighSchool!</h2>
<div class="row">
    <div class="col-sm-7">
        <p>
            Welcome to our wonderful, totally not made up, school where you can recieve pristine education at the cost of your own self worth!
            Here we pride ourselves on running a <strong>COMPLETLY</strong> drug free learning enviornment were your kids can learn everything they need to succeed!
            Our school motto encourages students to stay active, positive, and reminds them to always remember that they have the power to change their situations!!
            Why would'nt you trust us with the education of your childrens? They're isn't a better learning institution out there!
            If you are not impressed by our superior intelligence, why not scroll on to that about page...go on and learn you some things.
            After all!
            <h3>YOUR EDUMUCATION IS OUR RESPONSABILITY!</h3>
            So stay strong, register for our school, give us all your money.....trust us..<br />
            And remember here at Athens Lunatic Assyl... <br />
            Duluth HighSchool we only have one rule!
            <h2><strong> SMILE ALWAYS!</strong></h2>
            And we hope to see you at our institution very soon....
        </p>
    </div>
</div>
<img src="https://s-media-cache-ak0.pinimg.com/originals/b7/32/c8/b732c85cc1e22fd68041d3748e8801f1.jpg" /> <br />